[user]
	name = myuser
	email = myuser@localhost
[color]
	status = auto
	diff = auto
	branch = auto
	grep = auto
[core]
	excludesfile = ~/.gitignore
[grep]
	lineNumber = true
[push]
	default = simple
[diff]
	renames = copies
[diff "xls"]
	textconv = tika -t
[include]
	path = ~/.gitconfig_sourcetree
	path = ~/.gitconfig_env
# vim: set tabstop=4 shiftwidth=4 softtabstop=0 noexpandtab ff=unix :
