[user]
    name = myuser
    email = myuser@localhost
[color]
    status = auto
    diff = always
    diff-highlight = always
    branch = auto
    grep = auto
[core]
    excludesfile = ~/.gitignore
    editor = vim
    quotepath = false
[grep]
    lineNumber = true
[push]
    default = simple
[diff]
    renames = copies
[diff "xls"]
    textconv = tika -t
[show "xls"]
    textconv = tika -t
[include]
    path = ~/.gitconfig_sourcetree
    path = ~/.gitconfig_env
# vim: set tabstop=4 shiftwidth=4 softtabstop=0 noexpandtab ff=unix :
[log]
    date = iso
