[user]
	name = myuser
	email = myuser@localhost
[color]
	status = auto
	diff = auto
	branch = auto
	grep = auto
[core]
	excludesfile = ~/.gitignore
[grep]
	lineNumber = true
[push]
	default = simple

# vim: set ts=4 sw=4 sts=0 noet ff=unix :